@import url('reset.css');

*{box-sizing: border-box;}
html{font-size: 10px;}

body{
  font-size: 1.6rem;
  line-height: normal;
}

h1{
  font-size: 4.2rem;
}

h2{
  font-size: 2.6rem;
}

h3{
  font-size: 2rem;
}

h1,h2{margin-bottom: 20px;}

  span.hide{display: none;}

    nav ul{
      display: flex;
      justify-content: flex-end;
      border: 1px solid;
    }

      nav ul li{
        margin: 50px 40px 20px;
      }

      nav ul li:last-child{
        margin-right: 70px;
      }

        nav ul li a{
          text-decoration: none;
          color: black;
        }

  header{
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

    h1#logo{
      background-image: url("http://placehold.it/200x200");
      width:200px;
      height: 200px;
      margin: 0 auto;
    }

    #about{
      margin-bottom: 50px;
      text-align: center;
    }

    .videos{
      border: 1px solid;
    }

    p{
      width: 80%;
      margin: 0 auto 20px;
    }

    #grads{
      text-align: center;
    }
