@import url('reset.css');

@font-face {
  font-family: NeueHaasGrotesk;
  src: url('../fonts/HaasGrotDisp-55Roman.otf');
  font-weight: normal;
}

@font-face {
  font-family: NeueHaasGrotesk;
  src: url('../fonts/HaasGrotDisp-75Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: NeueHaasGroteskLight;
  src: url('../fonts/HaasGrotDisp-45Light.otf');
  font-weight: normal;
}

@font-face {
  font-family: NeueHaasGroteskItalic;
  src: url('../fonts/HaasGrotDisp-56Italic.otf');
  font-weight: normal;
}

*{box-sizing: border-box;}
html{font-size: 10px;}

body{
  font-family: NeueHaasGrotesk;
  font-size: 1.6rem;
  line-height: normal;
}

h1{
  font-size: 4.2rem;
}

h2{
  font-size: 2.6rem;
}

h3{
  font-size: 2rem;
}

section{margin-bottom: 50px;}

/*h1,h2{margin-bottom: 20px;}*/

.center{
  text-align: center;
}

.all-caps{
  text-transform: uppercase;
}

.uppercase{
  text-transform: capitalize;
}

.lighter{
  font-family: NeueHaasGroteskLight;
}

.italic{
  font-family: NeueHaasGroteskItalic;
}

strong{
  font-weight: bold;
}

em{
  font-family: NeueHaasGroteskItalic;
}

  span.hide{display: none;}

  nav{
    /*position: fixed;
    top:0;
    left:0;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 105px;
    background: #231F20; /*black*/
  }

    nav ul{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid;
    }

      nav ul li{
        margin-left: 30px;
      }

        nav ul li a{
          display: block;
          text-decoration: none;
          color: #fff;
          font-weight: bold;
        }

        a#logo{
          background-image: url("../images/logo.png");
          width:57px;
          height: 72px;
          margin: 0 auto;
        }

        a#logo-type{
          font-weight: normal;
        }

    nav ul#nav-links{
      justify-content: flex-end;
    }
        nav h1{
          font-family:Continuo;
          color: #F7931E; /*orange*/
          margin-bottom: 0;
        }

      nav ul#nav-links li{
        margin-left: 0;
        margin-right: 40px;
      }

      nav ul#nav-links li:last-child{
        margin-right: 70px;
      }

  header.landing{
    /*text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;*/
  }

    .videos{
      border: 1px solid red;
    }

      video{
        display: block;
        width: 100%;
      }

    #about{
      background: #231F20; /*black*/
      color: #fff;
      padding-top: 80px;
      padding-bottom: 80px;
      margin-bottom: 70px;
      text-align: center;
    }

      #about h2:last-of-type{
        margin-bottom: 40px;
      }

      #about p{
        width: 675px;
        margin: 0 auto 20px;
      }

      ul.job-groups{
        display: flex;
        justify-content: space-between;
        width: 675px;
        margin: 50px auto;
        /*border: 1px solid red;*/
      }

        ul.job-groups label{
          font-weight: bold;
          color: #F7931E;
          cursor: pointer;
          padding: 0 10px 10px;
          transition: color 1s, border .5s;
        }

        ul.job-groups input{
          display: none;
        }

        input.ff-selector-type-all:checked ~ label.ff-label-type-all,
        input.ff-selector-type-design:checked ~ label.ff-label-type-design,
        input.ff-selector-type-development:checked ~ label.ff-label-type-development,
        input.ff-selector-type-multimedia:checked ~ label.ff-label-type-multimedia{
          color: #231F20;
          border-bottom: 5px solid #231F20;
        }

      ul.students{
        width: 1042px;
        /*display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;*/
        text-align: center;
        margin: 0 auto;
        border: 1px solid red;
      }

        ul.students li{
          display: inline-block;
          margin-left: 5px;
          margin-right: 5px;
          margin-bottom: 50px;
        }

          ul.students li a{
            text-decoration: none;
            color: #333333;
          }

            ul.students span{
              color: #666666;
              font-size: 1.5rem;
            }

            ul.students img{
              display: block;
              margin-bottom: 20px;
              height: auto;
            }

    #schdule{
      text-align: center;
      color: #fff;
      background: #231F20;
      padding-top: 90px;
      padding-bottom: 90px;
      margin-bottom: 0px;
    }

      #schdule h2{
        margin-bottom: 60px;
      }

      #schdule p{
        margin-bottom: 20px;
      }

      #schdule p:last-of-type{
        margin-bottom: 50px;
      }

      #schdule p:last-of-type span{
        margin-right: 15px;
      }

      .boxes{
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
      }

        .boxes li{
          margin: 0 20px;
          /*background: #FBB03B;*/
        }

          .boxes a{
            display: block;
            box-sizing: border-box;
            text-decoration: none;
            color: #fff;
            width: 140px;
            height: 60px;
            padding: 20px;
            background: #FBB03B;
          }

    #map{
      width: 100%;
      height: 490px;
    }


    footer{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100px;
      color: #939292; /*grey*/
      background: #231F20;
    }

/* ===== Student information page styles =====*/
  #student-wrapper{
    width: 1160px;
    margin: 30px auto 0;
    border:1px solid red;
  }

    #student-group{
      display: flex;
      /*justify-content: center;*/
    }

      #student-group h2.title{
        margin-bottom: 30px;
      }

      #student-group h3{
        width: 200px;
        margin-bottom: 50px;
      }

      #student-group p{
        width: 470px;
      }

        #work{
          margin: 0 auto;
        }

/* ===== Student bio styles =====*/

.bio-wrapper{
  margin: 30px auto 0;
  /*border: 1px solid black;*/
  text-align: center;
}

.bio-wrapper :focus{outline: none;}

  .bio-wrapper form{
    margin-bottom: 20px;
  }

    .bio-wrapper legend{
      width: 100%;
      margin-bottom: 20px;
    }

    .bio-wrapper ul{
      display: flex;
      flex-direction: column;
      align-items: center;
      /*border: 1px solid red;*/
    }

      .bio-wrapper ul li{
        margin-bottom: 10px;
        width: 400px;
        /*border: 1px solid blue;*/
      }

      .group-options{
        text-align: left;
      }

        .bio-wrapper ul li input[type=text]{
          width: 100%;
          font-size: 1.6rem;
          border: 1px solid black;
          padding: 6px 8px;
        }

        .bio-wrapper ul li textarea{
          width: 100%;
          height: 200px;
          font-size: 1.6rem;
          border: 1px solid black;
          resize: none;
          padding: 6px 8px;
        }

          .bio-wrapper ul li input[type=submit]{
            -webkit-appearance: none;
            font-size: 1.6rem;
            background-color: #fff;
            border: 1px solid black;
            border-radius: 12px;
            color: #000;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
          }

@media screen and (max-width: 641px){
  .bio-wrapper{
    width: 90%;
  }

    .bio-wrapper ul li{
      width: 100%;
    }
}
