@import url('reset.css');

@font-face {
  font-family: NeueHaasGrotesk;
  src: url('../fonts/HaasGrotDisp-55Roman.otf');
  font-weight: normal;
}

@font-face {
  font-family: NeueHaasGrotesk;
  src: url('../fonts/HaasGrotDisp-75Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: NeueHaasGroteskLight;
  src: url('../fonts/HaasGrotDisp-45Light.otf');
  font-weight: normal;
}

@font-face {
  font-family: NeueHaasGroteskItalic;
  src: url('../fonts/HaasGrotDisp-56Italic.otf');
  font-weight: normal;
}

*{box-sizing: border-box;}
html{font-size: 10px;}

body{
  font-family: NeueHaasGrotesk;
  font-size: 1.6rem;
  line-height: normal;
}

h1{
  font-size: 4.2rem;
}

h2{
  font-size: 2.6rem;
}

h3{
  font-size: 2rem;
}

section{margin-bottom: 50px;}

/*h1,h2{margin-bottom: 20px;}*/

.all-caps{
  text-transform: uppercase;
}

.uppercase{
  text-transform: capitalize;
}

/*.bold{
  font-weight: bold;
}*/

.lighter{
  font-family: NeueHaasGroteskLight;
}

.italic{
  font-family: NeueHaasGroteskItalic;
}

strong{
  font-weight: bold;
}

em{
  font-family: NeueHaasGroteskItalic;
}

  span.hide{display: none;}

  nav{
    /*position: fixed;
    top:0;
    left:0;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 105px;
    background: #231F20; /*black*/
  }

    nav ul{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid;
    }

      nav ul li{
        margin-left: 30px;
      }

        nav ul li a{
          display: block;
          text-decoration: none;
          color: #fff;
          font-weight: bold;
        }

        a#logo{
          background-image: url("http://placehold.it/54x69");
          width:54px;
          height: 69px;
          margin: 0 auto;
        }

        a#logo-type{
          font-weight: normal;
        }

    nav ul#nav-links{
      justify-content: flex-end;
    }
        nav h1{
          font-family:Continuo;
          color: #F7931E; /*orange*/
          margin-bottom: 0;
        }

      nav ul#nav-links li{
        margin-left: 0;
        margin-right: 40px;
      }

      nav ul#nav-links li:last-child{
        margin-right: 70px;
      }

  header.landing{
    /*text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;*/
  }

    .videos{
      border: 1px solid red;
    }

      video{
        display: block;
        width: 100%;
      }

    #about{
      background: #231F20; /*black*/
      color: #fff;
      padding-top: 80px;
      padding-bottom: 80px;
      margin-bottom: 70px;
      text-align: center;
    }

      #about h2:last-of-type{
        margin-bottom: 40px;
      }

      #about p{
        width: 675px;
        margin: 0 auto 20px;
      }

    #grads,#map{
      text-align: center;
    }

      ul.job-groups
      {
        display: flex;
        justify-content: space-between;
        width: 675px;
        margin: 20px auto;
        border: 1px solid red;
      }

    #map{
      color: #fff;
      background: #231F20;
      padding-top: 90px;
      padding-bottom: 90px;
    }

      #map h2{
        margin-bottom: 60px;
      }

      #map p{
        margin-bottom: 20px;
      }

      #map p:last-of-type{
        margin-bottom: 50px;
      }

      .boxes{
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
      }

        .boxes li{
          margin: 0 20px;
          /*background: #FBB03B;*/
        }

          .boxes a{
            display: block;
            box-sizing: border-box;
            text-decoration: none;
            color: #fff;
            width: 140px;
            height: 60px;
            padding: 20px 32px;
            background: #FBB03B;
          }


    footer{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100px;
      color: #939292; /*grey*/
      background: #231F20;
    }

/* ===== Student bio styles =====*/

.bio-wrapper{
  margin: 20px auto 0;
  /*border: 1px solid black;*/
  text-align: center;
}

.bio-wrapper :focus{outline: none;}

  .bio-wrapper form{
    margin-bottom: 20px;
  }

    .bio-wrapper legend{
      width: 100%;
      margin-bottom: 20px;
    }

    .bio-wrapper ul{
      display: flex;
      flex-direction: column;
      align-items: center;
      /*border: 1px solid red;*/
    }

      .bio-wrapper ul li{
        margin-bottom: 10px;
        width: 400px;
        /*border: 1px solid blue;*/
      }

      .group-options{
        text-align: left;
      }

        .bio-wrapper ul li input[type=text]{
          width: 100%;
          font-size: 1.6rem;
          border: 1px solid black;
          padding: 6px 8px;
        }

        .bio-wrapper ul li textarea{
          width: 100%;
          height: 200px;
          font-size: 1.6rem;
          border: 1px solid black;
          resize: none;
          padding: 6px 8px;
        }

          .bio-wrapper ul li input[type=submit]{
            -webkit-appearance: none;
            font-size: 1.6rem;
            background-color: #fff;
            border: 1px solid black;
            border-radius: 12px;
            color: #000;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
          }

@media screen and (max-width: 641px){
  .bio-wrapper{
    width: 90%;
  }

    .bio-wrapper ul li{
      width: 100%;
    }
}
